<div id="home-view">

  <div class="subnavbar">
    <div class="subnavbar-inner">
      <div class="container">
        <a class="btn-subnavbar collapsed" data-toggle="collapse" data-target=".subnav-collapse">
          <i class="icon-reorder"></i>
        </a>
        <div class="subnav-collapse collapse">
          <ul class="mainnav">
            <li class="active">
              <a-home></a-home>
            </li>
            <li ng-show="isLoggedIn()">
              <a ng-href="/users/{{userLogin()}}">
                <i class="icon-user"></i>
                <span>{{i18n.translate("My Space").fetch()}}</span>
              </a>
            </li>
            <li class="dropdown">
              <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
                <i class="icon-eye-open"></i>
                <span>Learn</span>
                <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><a href="http://geometryzen.github.io/mission/" target="_blank">Our Mission</a></li>
                <li><a href="/users/geometryzen/repos/demos/tree/master">Browse Examples</a></li>
                <li><a href="http://geometryzen.github.io/start/" target="_blank">Getting Started</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
                <i class="icon-external-link"></i>
                <span>Discuss</span>
                <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><a href="http://groups.google.com/group/geometryzen?src=email&amp;hl=en" target="_blank">Mailing List</a></li>
                <li><a href="http://webchat.freenode.net/?channels=geometryzen&amp;uio=d4" target="_blank">Web Chat</a></li>
                <li class="divider"></li>
                <li><a href="https://twitter.com/#!/geometryzen" target="_blank">Twitter</a></li>
                <li><a href="https://plus.google.com/u/0/s/Geometry%20Zen/communities" target="_blank">Google+</a></li>
                <li class="divider"></li>
                <li class="dropdown-submenu">
                  <a href="#">Source Code</a>
                  <ul class="dropdown-menu">
                    <li><a href="https://github.com/david-geo-holmes/geometry-zen" target="_blank">Application Repository</a></li>
                    <li><a href="https://github.com/geometryzen/geometryzen.github.io" target="_blank">Documentation Repository</a></li>
                  </ul>
                </li>
                <li class="divider"></li>
                <li><a href="https://github.com/geometryzen/geometryzen/issues" target="_blank">Issue Tracker</a></li>
              </ul>
            </li>
            <li>
              <a href="http://geometryzen.github.io/faq/" target="_blank" style="text-decoration: none">
                <i class="icon-question-sign"></i>
                <span>FAQ</span>
              </a>
            </li>
            <li>
              <a href="http://geometryzen.github.io/" target="_blank" style="text-decoration: none">
                <i class="icon-book"></i>
                <span>Pages</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span12">
        <div class="widget">
          <div class="widget-content">
            <div class="text-center">
              <h1>
                <large>Geometry Zen</large>
              </h1>
              <h1>
                <small><em>Educational Computational Physics, Modeling and Geometry</em></small>
              </h1>
              <br/>
              <p><em>Geometry Zen</em> is a free, online, open-source, and collaborative tool for <em>Educational Computational Physics, Modeling and Geometry</em> combining programming, <em>3D visualization</em>, <em>Physical Units</em>, and <em>Geometric Algebra</em> - the <em>Unified Mathematical Language for Physics and Engineering in the 21st Century</em>.</p>
              <a href="/users/geometryzen/repos/demos/tree/master" class="btn btn-primary">
                <i class="icon-th"></i>
                <span>Browse Examples</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row-fluid">
      <div class="span3">
        <h4>Philosophy</h4>
        <p>The purpose of this software is to help students achieve mastery of a wide variety of topics in physics, mathematics and engineering (STEM) through the authentic construction of executable (software) models.</p>
      </div>
      <div class="span3">
        <h4>Design Goals</h4>
        <ul>
          <li>
            <strong>Pedagogy</strong>: Facilitate learning and mastery in a non-threatening way by allowing students to experiment and experience.
          </li>
          <li>
            <strong>Ease of Setup</strong>: Minimize the need for software engineering skills.
          </li>
          <li>
            <strong>Ease of Use</strong>: Minimize the need to refer to external documentation. Automatically detect programming errors.
          </li>
          <li>
            <strong>Performance</strong>: Be able to execute simulations of appropriate complexity within several seconds.
          </li>
          <li>
            <strong>Mathematical Notation</strong>: Support usual arithmetic operators as well as those used in Geometric Algebra and with appropriate precedence.
          </li>
          <li>
            <strong>Open Source</strong>: Make all the source code available to the developer community and engage users in the product roadmap.
          </li>
          <li>
            <strong>Data Ownership</strong>: Ensure that artifacts created by users are owned by the users and available independent of the application.
          </li>
        </ul>
      </div>
      <div class="span3">
        <h4>Features</h4>
        <ul>
          <li>
            <strong>Languages</strong>: Choose from TypeScript, JavaScript, CoffeeScript or Python.
          </li>
          <li>
            <strong>Smart Editing</strong>: Editor performs syntax checking as you type and provides context-sensitive documentation.
          </li>
          <li>
            <strong>Operator Overloading</strong>: Allows you to write code using natural math operators, even for non-primitive objects such as complex numbers and vectors, as well as your own classes.
          </li>
          <li>
            <strong>Operator Precedence</strong>: Allows you to minimize parenthesis clutter by having a well-defined order of operators.
          </li>
          <li>
            <strong>Visualization Libraries</strong>: Popular libraries such as three.js (3D geometry), JXG (2D geometry), d3 (data visualization), easel (2D rendering) are automatically available and feature integrated context-sensitive documentation and type checking.
          </li>
          <li>
            <strong>Computation Libraries</strong>: Libraries for Vector and Geometric Algebra, Complex Numbers and Quaternions. Support for SI units of measure and dimensions.
          </li>
          <li>
            <strong>GitHub Integration</strong>: All user programs are stored in the personal (GitHub) account of the user. You will therefore need to have a (free) GitHub account to store your work.
          </li>
        </ul>
      </div>
      <div class="span3">
        <h4>Editor Note - Roadmap</h4>
        <p>Thank You for considering GeometryZen to make your courses and assignments more engaging and effective!</p>
        <p>I strongly encourage you to explore TypeScript (JavaScript with optional typing) as the programming language when looking for a friendly editing experience with type-checking, context-sensitive help and code-completion.</p>
        <p>The immediate roadmap consists of providing more curated examples, better documentation support, and exploiting GitHub Gists as the basis for assignments.</p>
        <p>I hope you will become part of the GeometryZen community!</p>
        <p>- David Holmes</p>
      </div>
    </div>
  </div>
</div>
