<div id="home-view">
  <div class="subnavbar">
    <div class="subnavbar-inner">
      <div class="container">
        <a class="btn-subnavbar collapsed" data-toggle="collapse" data-target=".subnav-collapse">
          <i class="icon-reorder"></i>
        </a>
        <div class="subnav-collapse collapse">
          <ul class="mainnav">
            <li class="active">
              <a-home></a-home>
            </li>
            <li ng-show="isLoggedIn()">
              <a ng-href="/users/{{userLogin()}}">
                <i class="icon-user"></i>
                <span>{{i18n.translate("My Space").fetch()}}</span>
              </a>
            </li>
            <li class="dropdown">
              <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
                <i class="icon-eye-open"></i>
                <span>Learn</span>
                <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><a href="http://geometryzen.github.io/mission/" target="_blank">Our Mission</a></li>
                <li><a href="/users/geometryzen/repos/demos/tree/master">Browse Examples</a></li>
                <li><a href="http://geometryzen.github.io/start/" target="_blank">Getting Started</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
                <i class="icon-external-link"></i>
                <span>Discuss</span>
                <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><a href="http://groups.google.com/group/geometryzen?src=email&amp;hl=en" target="_blank">Mailing List</a></li>
                <li><a href="http://webchat.freenode.net/?channels=geometryzen&amp;uio=d4" target="_blank">Web Chat</a></li>
                <li class="divider"></li>
                <li><a href="https://twitter.com/#!/geometryzen" target="_blank">Twitter</a></li>
                <li><a href="https://plus.google.com/u/0/s/Geometry%20Zen/communities" target="_blank">Google+</a></li>
                <li class="divider"></li>
                <li class="dropdown-submenu">
                  <a href="#">Source Code</a>
                  <ul class="dropdown-menu">
                    <li><a href="https://github.com/david-geo-holmes/geometry-zen" target="_blank">Application Repository</a></li>
                    <li><a href="https://github.com/geometryzen/geometryzen.github.io" target="_blank">Documentation Repository</a></li>
                  </ul>
                </li>
                <li class="divider"></li>
                <li><a href="https://github.com/geometryzen/geometryzen/issues" target="_blank">Issue Tracker</a></li>
              </ul>
            </li>
            <li>
              <a href="http://geometryzen.github.io/faq/" target="_blank" style="text-decoration: none">
                <i class="icon-question-sign"></i>
                <span>FAQ</span>
              </a>
            </li>
            <li>
              <a href="http://geometryzen.github.io/" target="_blank" style="text-decoration: none">
                <i class="icon-book"></i>
                <span>Pages</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span12">
        <div class="widget">
          <div class="widget-content">
            <div class="text-center">
              <h1>
                <large>Geometry Zen</large>
              </h1>
              <h1>
                <small><em>Computational Modeling from a Geometric perspective</em></small>
              </h1>
              <br/>
              <p><em>Geometry Zen</em> is a free, online, open-source, and collaborative tool for <em>Computational Modeling</em> combining the <em>Python</em> programming language, <em>3D visualization</em> (WebGL), <em>Physical Units</em>, and <em>Geometric Algebra</em>, the <em>Unified Mathematical Language for Physics and Engineering in the 21st Century</em>.</p>
              <p></p>
              <br/>
              <h3>Simple Harmonic Motion using Euler solution (e3ga, NumPy, JSXGraph)</h3>
              <iframe width="1000" height="760" src="http://www.geometryzen.org/embed/users/geometryzen/repos/demos/blob/master/Modeling/ode/euler3D.py" frameborder="0">
              </iframe>
              <div class="text-right">
                <blockquote>
                  <p class="muted">...for geometry, you know, is the gate of science,<br/>and the gate is so low and small<br/>that one can only enter it as a little child.</p>
                  <small>William K. Clifford</small>
                </blockquote>
              </div>
              <h3>Charged Particle near a Wire (e3ga, WebGL, Three.JS) Press Esc to quit</h3>
              <iframe width="1000" height="760" src="http://www.geometryzen.org/embed/users/geometryzen/repos/demos/blob/master/Physics/charged-particle-wire-2.py" frameborder="0">
              </iframe>
              <div class="text-right">
                <blockquote>
                  <p class="muted">Geometry without algebra is dumb!<br/>Algebra without geometry is blind!</p>
                  <small>David O. Hestenes</small>
                </blockquote>
              </div>
              <h3>Mouse Tracking for fun (D3.JS) Press Esc to quit</h3>
              <iframe width="1000" height="760" src="http://www.geometryzen.org/embed/users/geometryzen/repos/demos/blob/master/D3/basic.py" frameborder="0">
              </iframe>
            </div>
            <div class="text-center">
              <a href="/users/geometryzen/repos/demos/tree/master" class="btn btn-primary">
                <i class="icon-th"></i>
                <span>Browse Examples</span>
              </a>
              <a href="{{jumpHRef()}}" class="btn btn-secondary">
                <i class="{{jumpIcon()}}"></i>
                <span>{{jumpText()}}</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
