<div id="home-view">
  <div class="subnavbar">
    <div class="subnavbar-inner">
      <div class="container">
        <a class="btn-subnavbar collapsed" data-toggle="collapse" data-target=".subnav-collapse">
          <i class="icon-reorder"></i>
        </a>
        <div class="subnav-collapse collapse">
          <ul class="mainnav">
            <li class="active">
              <a-home></a-home>
            </li>
            <li ng-show="isLoggedIn()">
              <a ng-href="/users/{{userLogin()}}">
                <i class="icon-user"></i>
                <span>{{i18n.translate("My Space").fetch()}}</span>
              </a>
            </li>
            <li class="dropdown">
              <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
                <i class="icon-eye-open"></i>
                <span>Learn</span>
                <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <!--li><a href="http://www.youtube.com/user/geometryzen">Watch</a></li-->
                <li><a href="http://geometryzen.github.io/mission/" target="_blank">Our Mission</a></li>
                <li><a href="/users/geometryzen/repos/demos/tree/master">Browse Examples</a></li>
                <li><a href="http://geometryzen.github.io/start/" target="_blank">Getting Started</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
                <i class="icon-external-link"></i>
                <span>Discuss</span>
                <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><a href="http://groups.google.com/group/geometryzen?src=email&amp;hl=en" target="_blank">Mailing List</a></li>
                <li><a href="http://webchat.freenode.net/?channels=geometryzen&amp;uio=d4" target="_blank">Web Chat</a></li>
                <li class="divider"></li>
                <li><a href="https://twitter.com/#!/geometryzen" target="_blank">Twitter</a></li>
                <li><a href="https://plus.google.com/u/0/s/Geometry%20Zen/communities" target="_blank">Google+</a></li>
                <li class="divider"></li>
                <li class="dropdown-submenu">
                  <a href="#">Source Code</a>
                  <ul class="dropdown-menu">
                    <li><a href="https://github.com/david-geo-holmes/geometry-zen" target="_blank">Application Repository</a></li>
                    <li><a href="https://github.com/geometryzen/geometryzen.github.io" target="_blank">Documentation Repository</a></li>
                  </ul>
                </li>
                <li class="divider"></li>
                <li><a href="https://github.com/geometryzen/geometryzen/issues" target="_blank">Issue Tracker</a></li>
              </ul>
            </li>
            <li>
              <a href="http://geometryzen.github.io/faq/" target="_blank" style="text-decoration: none">
                <i class="icon-question-sign"></i>
                <span>FAQ</span>
              </a>
            </li>
            <li>
              <a href="http://geometryzen.github.io/" target="_blank" style="text-decoration: none">
                <i class="icon-book"></i>
                <span>Pages</span>
              </a>
            </li>
          </ul>
          <!--
          <ul class="mainnav pull-right">
-           <github-authorize></github-authorize>
-         </ul>
          -->
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span12">
        <div class="widget">
          <!--
          <div class="widget-header">
            <i class="icon-cogs"></i>
            <h3>Geometry Zen</h3>
          </div>
          -->
          <div class="widget-content">
            <div class="text-center">
              <h1>
                <large>Geometry Zen</large>
              </h1>
              <h1>
                <small><em>Looking at the multiverse from a Geometric Algebra perspective</em></small>
              </h1>
              <br/>
              <p><em>Geometry Zen</em> is a free, online, open-source, and collaborative tool for <em>Computational Modeling</em> combining the <em>Python</em> programming language, <em>3D visualization</em> (WebGL), <em>Physical Units</em>, and <em>Geometric Algebra</em>, the <em>Unified Mathematical Language for Physics and Engineering in the 21st Century</em>.</p>
              <p></p>
              <br/>
            </div>
            <div class="text-center">
              <iframe class="youtube-player" type="text/html" width="480" height="360"
                      src="http://www.youtube.com/embed/vRIEyxENcn0" frameborder="0" allowfullscreen>
              </iframe>
            </div>
            <div class="text-right">
              <blockquote>
                <p class="muted">...for geometry, you know, is the gate of science,<br/>and the gate is so low and small<br/>that one can only enter it as a little child.</p>
                <small>
                  <a href="http://en.wikipedia.org/wiki/William_Kingdon_Clifford" target="_blank">William K. Clifford</a> <cite title="Source Title"></cite>
                </small>
              </blockquote>
              <blockquote>
                <p class="muted">Geometry without algebra is dumb!<br/>Algebra without geometry is blind!</p>
                <small><a href="http://en.wikipedia.org/wiki/David_Hestenes" target="_blank">David O. Hestenes</a> <cite title="Source Title"></cite>
                </small>
              </blockquote>
            </div>
            <div class="text-center">
              <a href="/users/geometryzen/repos/demos/tree/master" class="btn btn-primary">
                <i class="icon-th"></i>
                <span>Browse Examples</span>
              </a>
              <a href="{{jumpHRef()}}" class="btn btn-secondary">
                <i class="{{jumpIcon()}}"></i>
                <span>{{jumpText()}}</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row-fluid">
      <div class="span6">
        <div class="widget">
          <div class="widget-header">
            <i class="icon-thumbs-up"></i>
            <h3>Features and Benefits of Geometry Zen</h3>
          </div>
          <div class="widget-content">
            <div class="accordion" id="fabAccordion">
              <!-- STEM -->
              <div class="accordion-group">
                <div class="accordion-heading">
                  <a class="accordion-toggle" data-toggle="collapse" data-parent="#fabAccordion" data-target="#fabCollapse0">
                    Science, Technology, Engineering and Mathematics (STEM)
                  </a>
                </div>
                <div id="fabCollapse0" class="accordion-body collapse">
                  <div class="accordion-inner">
                    <p>Geometry Zen is all about enabling young students to become excited about, and engaged in, the mastery of the mathematical, scientific and engineering disciplines that are at the heart of our modern technologies and cultural understanding of our place in the universe.</p>
                    <p>We believe that by providing an appropriate tool and competent mentoring, students will naturally want to explore and grow.</p>
                    <p>Geometry Zen is the embodiment of using modern technology to accelerate and deepen the understanding and mastery of STEM.</p>
                  </div>
                </div>
              </div>
              <!-- Web Browser Platform -->
              <div class="accordion-group">
                <div class="accordion-heading">
                  <a class="accordion-toggle" data-toggle="collapse" data-parent="#fabAccordion" data-target="#fabCollapse1">
                    Web Browser Platform
                  </a>
                </div>
                <div id="fabCollapse1" class="accordion-body collapse">
                  <div class="accordion-inner">
                    <p>Nothing to install and no plug-ins!</p>
                    <p>Just use a WebGL compliant browser such as Google Chrome or Mozilla Firefox. Apple Safari may also be used with WebGL turned on.</p>
                    <p>Note that Microsoft Internet Explorer will be supporting WebGL in Windows 8.1</p>
                  </div>
                </div>
              </div>
              <!-- Modeling Workbench -->
              <div class="accordion-group">
                <div class="accordion-heading">
                  <a class="accordion-toggle" data-toggle="collapse" data-parent="#fabAccordion" data-target="#fabCollapse2">
                    Modeling Workbench
                  </a>
                </div>
                <div id="fabCollapse2" class="accordion-body collapse">
                  <div class="accordion-inner">
                    <p>Juxtaposes an analytical programming editor with a 2D or 3D geometry view, reinforcing the learning of the mathematical notation as well as the geometric interpretation.</p>
                    <p>Geometry Zen has been designed to provide constructive feedback to the student, encouraging exploration and mastery.</p>
                  </div>
                </div>
              </div>
              <!-- Python Language -->
              <div class="accordion-group">
                <div class="accordion-heading">
                  <a class="accordion-toggle" data-toggle="collapse" data-parent="#fabAccordion" data-target="#fabCollapse3">
                    Python Language
                  </a>
                </div>
                <div id="fabCollapse3" class="accordion-body collapse">
                  <div class="accordion-inner">
                    <p>Geometry Zen has chosen Python as the user programming language because of its' ability to express mathematical notation (esp. binary operators) in a natural way. In addition, Python is easy to learn, even for very young students, but is powerful enough to be used in academic and industry research. Finally, Python is used worldwide in scientific academia and also for Information Technology (IT) projects.</p>
                    <p>The Python implementation is based on the open-source Skulpt project which has a thriving community and has been used in Coursera and universities.</p>
                    <p>The Geometry Zen project is an active contributor to the Skulpt project.</p>
                  </div>
                </div>
              </div>
              <!-- WebGL rendering -->
              <div class="accordion-group">
                <div class="accordion-heading">
                  <a class="accordion-toggle" data-toggle="collapse" data-parent="#fabAccordion" data-target="#fabCollapse4">
                    2D and 3D (WebGL) visual rendering
                  </a>
                </div>
                <div id="fabCollapse4" class="accordion-body collapse">
                  <div class="accordion-inner">
                    <p>Fast GPU-based WebGL rendering provides smooth animation of simulations.</p>
                    <p>Geometry Zen provides several modules supporting rendering using WebGL.</p>
                    <p>For educational modelling and simulations an easy-to-use 'visual' module provides functionality similar to Visual Python.</p>
                    <p>For full-blown 3D rendering with cameras, meshes and textures, the Three.JS library has been exposed as the 'three' module.</p>
                    <p>2D rendering is supported through both the HTML5 Canvas API as well as the CreateJS animation API.</p>
                  </div>
                </div>
              </div>
              <!-- Geometric Algebra-->
              <div class="accordion-group">
                <div class="accordion-heading">
                  <a class="accordion-toggle" data-toggle="collapse" data-parent="#fabAccordion" data-target="#fabCollapse5">
                    Geometric Algebra(s)
                  </a>
                </div>
                <div id="fabCollapse5" class="accordion-body collapse">
                  <div class="accordion-inner">
                    <p>Geometric Algebra provides the motivation for the Geometry Zen project.</p>
                    <p>Support for 2D and 3D Euclidean Multivectors is provided using the 'e2ga' and 'e3ga' modules.</p>
                    <p>Projective, Spacetime and Conformal algebras will be supported in future for advanced Computer Graphics and Inverse Kinematics.</p>
                  </div>
                </div>
              </div>
              <!-- Units of Measure-->
              <div class="accordion-group">
                <div class="accordion-heading">
                  <a class="accordion-toggle" data-toggle="collapse" data-parent="#fabAccordion" data-target="#fabCollapse7">
                    Units of Measure
                  </a>
                </div>
                <div id="fabCollapse7" class="accordion-body collapse">
                  <div class="accordion-inner">
                    <p>Permits algebraic manipulations, even if the units differ, with automatic conversion.</p>
                    <p>The 'units' module provides the SI (Systeme Internationale) standard units of measurement including the kilogram, meter, second and coulomb. Derived units such as the newton, joule, watt, ampere, volt, tesla and electron volt are also understood. Users can define their own units of measure such as feet and pounds. The 'units' module is designed to encourage exploration and mastery by providing constructive feedback for illegal expressions.</p>
                    <p>Units can be combined with any quantity (Geometric Algebra multivector) to create the concept of a measure(ment).</p>
                  </div>
                </div>
              </div>
              <!-- Dimensional Analysis-->
              <div class="accordion-group">
                <div class="accordion-heading">
                  <a class="accordion-toggle" data-toggle="collapse" data-parent="#fabAccordion" data-target="#fabCollapse6">
                    Dimensional Analysis
                  </a>
                </div>
                <div id="fabCollapse6" class="accordion-body collapse">
                  <div class="accordion-inner">
                    <p>Automatic verification of the correctness of physical expressions.</p>
                    <p>The 'units' module supports tracking the dimensionality of expressions along the dimensions of Mass (M), Length (L), Time (T) and Charge, with rational exponents.<p/>
                  </div>
                </div>
              </div>
              <!-- Coordinate Systems-->
              <div class="accordion-group">
                <div class="accordion-heading">
                  <a class="accordion-toggle" data-toggle="collapse" data-parent="#fabAccordion" data-target="#fabCollapse8">
                    Coordinate Systems
                  </a>
                </div>
                <div id="fabCollapse8" class="accordion-body collapse">
                  <div class="accordion-inner">
                    <p>Enter initial configuration in a coordinate system that reflects the symmetry of the system. Cartesian coordinates are currently supported.</p>
                    <p>Through the use of Geometric Algebra, Geometry Zen encourages the manipulation of mathematical expressions in a coordinate-free way that is also independent of the dimensionality of the space.</p>
                  </div>
                </div>
              </div>
              <!-- Tutorials-->
              <div class="accordion-group">
                <div class="accordion-heading">
                  <a class="accordion-toggle" data-toggle="collapse" data-parent="#fabAccordion" data-target="#fabCollapse9">
                    Tutorials
                  </a>
                </div>
                <div id="fabCollapse9" class="accordion-body collapse">
                  <div class="accordion-inner">
                    <p>A comprehensive introduction to {{marketing.name}} and Geometric Algebra (Coming soon).</p>
                  </div>
                </div>
              </div>
              <!-- Examples-->
              <div class="accordion-group">
                <div class="accordion-heading">
                  <a class="accordion-toggle" data-toggle="collapse" data-parent="#fabAccordion" data-target="#fabCollapse10">
                    Examples
                  </a>
                </div>
                <div id="fabCollapse10" class="accordion-body collapse">
                  <div class="accordion-inner">
                    <p>Allow you to explore the capabilities and potential of Geometry Zen.</p>
                  </div>
                </div>
              </div>
              <!-- Works disconnected-->
              <div class="accordion-group">
                <div class="accordion-heading">
                  <a class="accordion-toggle" data-toggle="collapse" data-parent="#fabAccordion" data-target="#fabCollapse11">
                    Works disconnected
                  </a>
                </div>
                <div id="fabCollapse11" class="accordion-body collapse">
                  <div class="accordion-inner">
                    <p>No need to be connected to the internet unless you want to share your work with others.</p>
                  </div>
                </div>
              </div>
              <!-- OAuth authentication-->
              <div class="accordion-group">
                <div class="accordion-heading">
                  <a class="accordion-toggle" data-toggle="collapse" data-parent="#fabAccordion" data-target="#fabCollapse13">
                    OAuth authentication
                  </a>
                </div>
                <div id="fabCollapse13" class="accordion-body collapse">
                  <div class="accordion-inner">
                    <p>Secure authentication and authorization using GitHub. No extra passwords to memorize.</p>
                  </div>
                </div>
              </div>
              <!-- GitHub repository-->
              <div class="accordion-group">
                <div class="accordion-heading">
                  <a class="accordion-toggle" data-toggle="collapse" data-parent="#fabAccordion" data-target="#fabCollapse14">
                    GitHub repository
                  </a>
                </div>
                <div id="fabCollapse14" class="accordion-body collapse">
                  <div class="accordion-inner">
                    <p>Save and share your models in public repositories or use private repositories for assignments and problems. Search for public Geometry Zen models by other authors, improve on them, return the favor by offering back your changes.</p>
                    <p>Geometry Zen uses GitHub as the backing store for your work. GitHub is the modern coding repository and is increasingly being used to manage and version content. Using GitHub ensures that your work is always backed up and will never be lost. Moreover, it also opens up tremendous opportunities for sharing and collaboration using the features that have made GitHub so successful.</p>
                  </div>
                </div>
              </div>
              <!-- Issue Tracking-->
              <div class="accordion-group">
                <div class="accordion-heading">
                  <a class="accordion-toggle" data-toggle="collapse" data-parent="#fabAccordion" data-target="#fabCollapse15">
                    Issue Tracking
                  </a>
                </div>
                <div id="fabCollapse15" class="accordion-body collapse">
                  <div class="accordion-inner">
                    <p>Want something incorporated, fixed or improved? <a href="https://github.com/david-geo-holmes/geometry-zen/issues">Discuss your issue</a> with the Geometry Zen community! GitHub provides a built-in issue tracker for this purpose.</p>
                  </div>
                </div>
              </div>
              <!-- Community-->
              <div class="accordion-group">
                <div class="accordion-heading">
                  <a class="accordion-toggle" data-toggle="collapse" data-parent="#fabAccordion" data-target="#fabCollapse16">
                    Community
                  </a>
                </div>
                <div id="fabCollapse16" class="accordion-body collapse">
                  <div class="accordion-inner">
                    <p>Geometry Zen engages the community to make forward progress that meets everyone's needs.</p>
                  </div>
                </div>
              </div>
              <!-- Designed for Mobile -->
              <div class="accordion-group">
                <div class="accordion-heading">
                  <a class="accordion-toggle" data-toggle="collapse" data-parent="#fabAccordion" data-target="#fabCollapse17">
                    Designed for Mobile
                  </a>
                </div>
                <div id="fabCollapse17" class="accordion-body collapse">
                  <div class="accordion-inner">
                    <p>Designed to be responsive and used on mobile tablet devices. However, the mobile technology has not yet caught up with WebGL.</p>
                  </div>
                </div>
              </div>
              <!-- 100% freedom-->
              <div class="accordion-group">
                <div class="accordion-heading">
                  <a class="accordion-toggle" data-toggle="collapse" data-parent="#fabAccordion" data-target="#fabCollapse18">
                    100% freedom
                  </a>
                </div>
                <div id="fabCollapse18" class="accordion-body collapse">
                  <div class="accordion-inner">
                    <p>Freedom to run, copy, distribute, study, improve and change the software.</p>
                  </div>
                </div>
              </div>
              <!-- 100% free-->
              <div class="accordion-group">
                <div class="accordion-heading">
                  <a class="accordion-toggle" data-toggle="collapse" data-parent="#fabAccordion" data-target="#fabCollapse19">
                    100% free
                  </a>
                </div>
                <div id="fabCollapse19" class="accordion-body collapse">
                  <div class="accordion-inner">
                    <p>That's right. We don't believe that education should be witheld from those without the financial means.</p>
                    <p>That being said, we do accept philanthropic donations in order to faciltate student workshops.</p>
                    <p>We can also negotiate support contracts to provide premium levels of service.</p>
                  </div>
                </div>
              </div>
              <!-- Open Source Software-->
              <div class="accordion-group">
                <div class="accordion-heading">
                  <a class="accordion-toggle" data-toggle="collapse" data-parent="#fabAccordion" data-target="#fabCollapse20">
                    Open Source Software
                  </a>
                </div>
                <div id="fabCollapse20" class="accordion-body collapse">
                  <div class="accordion-inner">
                    <p>What else would it be? You can find it here at the <a href="https://github.com/david-geo-holmes/geometry-zen">Geometry Zen GitHub project.</a></p>
                    <p>We believe that the best way to deliver quality software that meets the needs of all users is through open-source principles.</p>
                  </div>
                </div>
              </div>
              <!-- Support-->
              <div class="accordion-group">
                <div class="accordion-heading">
                  <a class="accordion-toggle" data-toggle="collapse" data-parent="#fabAccordion" data-target="#fabCollapse21">
                    Support
                  </a>
                </div>
                <div id="fabCollapse21" class="accordion-body collapse">
                  <div class="accordion-inner">
                    <p>If you need specific support for enhancements or levels of service, please contact us.</p>
                  </div>
                </div>
              </div>

            </div> <!-- accordion -->
          </div> <!-- div.widget-content -->
        </div> <!-- div.widget -->
      </div> <!-- div.span -->

      <div class="span6">
        <div class="widget stacked">
          <div class="widget-header">
            <i class="icon-bullhorn"></i>
            <h3>Tell me More!</h3>
          </div>
          <div class="widget-content">
            <div id="introCarousel" class="carousel slide" data-interval="false">
              <ol class="carousel-indicators">
                <li data-target="#introCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#introCarousel" data-slide-to="1"></li>
                <li data-target="#introCarousel" data-slide-to="2"></li>
                <li data-target="#introCarousel" data-slide-to="3"></li>
                <li data-target="#introCarousel" data-slide-to="4"></li>
                <li data-target="#introCarousel" data-slide-to="5"></li>
                <li data-target="#introCarousel" data-slide-to="6"></li>
              </ol>
              <div class="carousel-inner">

                <div class="active item">
                  <img src="img/stand-back.jpg" width="1920" height="1200" alt>
                  <div class="carousel-caption">
                    <h4>How do I use Geometry Zen?</h4>
                    <p>Students, researchers and educators construct a concise mathematical model of the system of interest using the Python programming language. They then get to explore and experience their model through a 2D Canvas or 3D WebGL Visualization along with keyboard, mouse and touch interaction. Geometry Zen provides native tools for Multivectors (Geometric Numbers that generalize vectors and scalars), Dimensionality checking (Mass, Length, Time, Charge), SI units (kilogram, meter, second, coulomb), automated Units of Measure conversion, and Coordinate systems. All you need to have is a web browser and the desire to learn.</p>
                    <h5 class="muted">[1 of 7]</h5>
                  </div>
                </div>

                <div class="item">
                  <img src="img/stand-back.jpg" width="1920" height="1200" alt>
                  <div class="carousel-caption">
                    <h4>Will it grow with me as my mastery increases?</h4>
                    <p>The Geometry Zen programming environment is completely general (there is full access to the browser window and document object model), allowing for the construction of arbitrarly complex demonstrations, problem sets, simulations, and even games. Models may be exchanged through GitHub private and public repositories or Gists allowing for collaborative development of learning materials and problem solving. Yet Geometry Zen is simple enough to be used by very young students exploring programming and mathematics for the first time.</p>
                    <h5 class="muted">[2 of 7]</h5>
                  </div>
                </div>

                <div class="item">
                  <img src="img/stand-back.jpg" width="1920" height="1200" alt>
                  <div class="carousel-caption">
                    <h4>Will it cost me anything?</h4>
                    <p>Geometry Zen is 100% free to use and is Open Source Software. Grants and donations are used to further develop and maintain the software through student workshops. Maintenance fees will only be charged to users requesting priority features or additional levels of support.</p>
                    <h5 class="muted">[3 of 7]</h5>
                  </div>
                </div>

                <div class="item">
                  <img src="img/stand-back.jpg" width="1920" height="1200" alt>
                  <div class="carousel-caption">
                    <h4>What do I need to get started?</h4>
                    <p>Geometry Zen requires no software installation other than a WebGL compliant web browser. <a href="https://www.google.com/chrome" target="_blank">The Google Chrome</a> or Mozilla Firefox browsers are strongly recommended. Geometry Zen is certified for use on a Personal Computer (Linux, Mac or Windows) and we have designed it to run on Android and iOS tablets as their support for WebGL becomes available.</p>
                    <h5 class="muted">[4 of 7]</h5>
                  </div>
                </div>

                <div class="item">
                  <img src="img/stand-back.jpg" width="1920" height="1200" alt>
                  <div class="carousel-caption">
                    <h4>How do I get started?</h4>
                    <p>Take a look at some of the examples and try them in the Modeling Workbench. Try your own examples in the Workbench and save them as anonymous Gists with sharable URLs. You'll soon want to Sign In and create yourself a GitHub account (if you don't have one already), that way you will be able to save your work to your own account and share it with others from there. GitHub provides a host of other useful features for storing content; it's what all the cool kids are using to manage content and code.</p>
                    <h5 class="muted">[5 of 7]</h5>
                  </div>
                </div>

                <div class="item">
                  <img src="img/stand-back.jpg" width="1920" height="1200" alt>
                  <div class="carousel-caption">
                    <h4>What if I have more questions?</h4>
                    <p>The frequently asked questions page is probably you best next stop. There's also the Geometry Zen <em>pages</em> and the online Geometry Zen community.</p>
                    <h5 class="muted">[6 of 7]</h5>
                  </div>
                </div>

                <div class="item">
                  <img src="img/stand-back.jpg" width="1920" height="1200" alt>
                  <div class="carousel-caption">
                    <h4>What if want to contribute or get involved?</h4>
                    <p>You can donate, <a href="https://github.com/david-geo-holmes/geometry-zen" target="_blank">write code</a>, create learning content, create documentation, and provide <a href="https://github.com/david-geo-holmes/geometry-zen/issues" target="_blank">feedback</a>.</p>
                    <h5 class="muted">[7 of 7]</h5>
                  </div>
                </div>

              </div>
              <a class="carousel-control left" data-target="#introCarousel" data-slide="prev">&lsaquo;</a>
              <a class="carousel-control right" data-target="#introCarousel" data-slide="next">&rsaquo;</a>
            </div>
          </div>
        </div>
      </div>
    </div> <!-- div.row-fluid -->
    <div class="row-fluid">
      <div class="span6">
        <div class="widget">
          <div class="widget-header">
            <i class="icon-cogs"></i>
            <h3>Geometric Algebra in a Nutshell</h3>
          </div>
          <div class="widget-content">
            <p>Geometry is a branch of mathematics with a tradition going back at least as far as the Greek geometers, Appolonius of Perga [Pergaeus] and Euclid.</p>
            <p>Descartes showed how geometric curve-drawing machines could be described mathematically using <em>Algebraic Expressions</em>. Finding the loci of points representing the curves involed solving these polynomial equations.</p>
            <p>An <em>Algebra</em> is the name given to a special kind of mathematical object. Roughly speaking, an Algebra is a <em>Linear or Vector Space</em>, whose elements are <em>vectors</em> and <em>scalars</em>, coupled with an operation called <em>multiplication</em> such that the result of multiplication always stays in the Linear Space (closure). Algebras are very useful because of the ease of computation and expressiveness of the notation.</p>
            <p><em>Geometric Algebra</em> is an Algebra with an <em>associative</em> multiplication property. Geometric Algebra can be thought of as the generalization of the concept of a number to describe geometric quantities and defines the rules for manipulating those numbers. In essence, Geometric Algebra is about learning how to correctly multiply and interpret Geometric Numbers so that we can describe, and make predictions about the universe we live in.</p>
            <p>Many of the Physical Laws that describe the phenomena of nature are Geometric in Character and can be wriiten down concisely using Algebras. That is to say, the laws have a precise mathematical structure that is amenable to a geometric interpretation. Geometric Algebra unifies these two aspects in a single mathematical tool. By learning and using Geometric Algebra (and Geometric Calculus) the student gains a new perspective illuminating other areas of mathematics, accelerates the mastery of higher level concepts, and acquires a lasting foundation for understanding the universe and making new discoveries.</p>
          </div> <!-- div.widget-content -->
        </div> <!-- div.widget -->
      </div> <!-- div.span -->
      <div class="span6">
        <div class="widget">
          <div class="widget-header">
            <i class="icon-time"></i>
            <h3>Geometry Timeline</h3>
          </div>
          <div class="widget-content">
            <table class="table table-condensed">
              <tbody>
                <tr>
                  <td><span nowrap=nowrap>300 BCE</span></td>
                  <td>Euclid of Alexandria</td>
                  <td><em>&quot;Father of Geometry&quot;</em></td>
                </tr>
                <tr>
                  <td><span nowrap=nowrap>262 BCE</span></td>
                  <td>Appolonius of Perga</td>
                  <td><em>Conics</em></td>
                </tr>
                <tr>
                  <td><span nowrap=nowrap>250 CE</span></td>
                  <td>Diophantes</td>
                  <td><em>Algebra</em></td>
                </tr>
                <tr>
                  <td>1545</td>
                  <td>Cardano</td>
                  <td><em>Imaginary numbers</em></td>
                </tr>
                <tr>
                  <td>1637</td>
                  <td>Descartes</td>
                  <td><em>Coordinates, Algebraic Geometry</em></td>
                </tr>
                <tr>
                  <td>1798</td>
                  <td>Gauss</td>
                  <td><em>Complex Algebra</em></td>
                </tr>
                <tr>
                  <td>1840</td>
                  <td>Grassman</td>
                  <td><em>Linear Algebra, Vector Space</em></td>
                </tr>
                <tr>
                  <td>1843</td>
                  <td>Hamilton</td>
                  <td><em>Quaternions</em></td>
                </tr>
                <tr>
                  <td>1844</td>
                  <td>Grassman</td>
                  <td><em>Extensive Algebra</em></td>
                </tr>
                <tr>
                  <td>1854</td>
                  <td>Cayley</td>
                  <td><em>Matrix Algebra</em></td>
                </tr>
                <tr>
                  <td>1870</td>
                  <td>Gibbs and Heaviside</td>
                  <td><em>Vector Calculus</em></td>
                </tr>
                <tr>
                  <td>1878</td>
                  <td>Clifford</td>
                  <td><em>Geometric Algebra</em></td>
                </tr>
                <tr>
                  <td>1890</td>
                  <td>Ricci</td>
                  <td><em>Tensors</em></td>
                </tr>
                <tr>
                  <td>1899</td>
                  <td>Cartan</td>
                  <td><em>Differential Forms</em></td>
                </tr>
                <tr>
                  <td>1928</td>
                  <td>Dirac</td>
                  <td><em>Spin Algebra</em></td>
                </tr>
                <tr>
                  <td>1957</td>
                  <td>Riesz</td>
                  <td><em>Clifford Numbers, Spinors</em></td>
                </tr>
                <tr>
                  <td>1966</td>
                  <td>Hestenes</td>
                  <td><em>Space Time Algebra, Geometric Calculus</em></td>
                </tr>
                <tr>
                  <td>1984</td>
                  <td>Hestenes and Sobczyk</td>
                  <td><em>Clifford Algebra to Geometric Calculus</em></td>
                </tr>
                <tr>
                  <td>1986</td>
                  <td>Hestenes</td>
                  <td><em>New Foundations for Classical Mechanics</em></td>
                </tr>
                <tr>
                  <td>2003</td>
                  <td>Doran and Lasenby</td>
                  <td><em>Geometric Algebra for Physicists</em></td>
                </tr>
                <tr>
                  <td>2007</td>
                  <td>Dorst, Fontijne and Mann</td>
                  <td><em>Geometric Algebra for Computer Science</em></td>
                </tr>
                <tr>
                  <td>2009</td>
                  <td>Perwass</td>
                  <td><em>Geometric Algebra with Applications in Engineering</em></td>
                </tr>
              </tbody>
            </table> <!-- table.table-->
            <dl class="dl-horizontal">
            </dl>
          </div> <!-- dive.widget-content -->
        </div> <!-- div.widget -->
      </div> <!-- div.span4 -->
    </div> <!-- div.row-fluid -->
  </div> <!-- div.container-fluid -->
</div> <!-- div.home-view -->
<script>
  $('.accordion').on('show', function (e) {
    $(e.target).prev('.accordion-heading').parent ().addClass('open');
  });

  $('.accordion').on('hide', function (e) {
    $(this).find('.accordion-toggle').not($(e.target)).parents ('.accordion-group').removeClass('open');
  });
    
  $('.accordion').each (function () {       
    $(this).find ('.accordion-body.in').parent ().addClass ('open');
  });
</script>
