<div id="repo-view">
  <div class="subnavbar">
    <div class="subnavbar-inner">
      <div class="container">
        <a class="btn-subnavbar collapsed" data-toggle="collapse" data-target=".subnav-collapse">
          <i class="icon-reorder"></i>
        </a>
        <div class="subnav-collapse collapse">
          <ul class="mainnav">
            <li class="{{homeBreadcrumbClass()}}">
              <a-home></a-home>
            </li>
            <li ng-show="isLoggedIn()" class="{{userBreadcrumbClass()}}">
              <a ng-href="/users/{{user.login}}">
                <i class="icon-user"></i>
                <span>{{i18n.translate("My Repo").ifPlural(2, "My Repos").fetch()}}</span>
              </a>
            </li>
            <li ng-show="repoEnabled()" class="{{repoBreadcrumbClass()}}">
              <a ng-click="bookView()" href="#">
                <i class="icon-book"></i>
                <span>{{i18n.translate("Repo").fetch()}}</span>
              </a>
            </li>
            <li ng-show="saveEnabled()">
              <a ng-click="save()" href="#">
                <i class="icon-save"></i>
                <span>Save</span>
              </a>
            </li>
          </ul>
        </div> <!-- /.subnav-collapse -->
      </div> <!-- /container -->
    </div> <!-- /subnavbar-inner -->
  </div> <!-- /subnavbar -->
  
  <div id="work-layout" class="container-fluid">
    <div class="row-fluid">
      <div class="widget">
        <div class="widget-header">
        </div>
        <div class="widget-content">
          <div>
            <i class="icon-user muted"></i>
            <span><a ng-href="/users/{{user.login}}">{{user.login}}</a></span>
            <a ng-href="https://github.com/{{user.login}}" target="_blank" class="muted">
              <i class="icon-github"></i>
            </a>
            <h4>
              <i class="icon-book muted"></i>
              <span>{{repo.name}}</span>
              <a ng-href="https://github.com/{{user.login}}/{{repo.name}}" target="_blank" class="muted">
                <i class="icon-github"></i>
              </a>
            </h4>
            <span>{{repo.description}}</span>
          </div>
          <ul class="nav nav-tabs" id="myTab">
            <li><a data-target="#items" data-toggle="tab">Items</a></li>
            <!--li><a data-target="#commits" data-toggle="tab">Commits</a></li-->
            <!--li><a data-target="#branches" data-toggle="tab">Branches</a></li-->
          </ul>
          <div class="tab-content">
            <div class="tab-pane" id="items">
              <div class ="row-fluid">
                <table class="table table-condensed">
                  <tbody>
                    <tr>
                      <td nowrap=nowrap>
                        <!--input type="text" placeHolder="Filter..."></input-->
                      </td>
                      <td nowrap=nowrap>
                        <button ng-click="newFile()" class="btn btn-primary">
                          <i class="icon-plus-sign-alt"></i> <i class="icon-file-alt"></i>
                          <span>Create a New File</span>
                        </button>
                      </td>
                    </tr>
                    <!-- Reminder: An item is a book or a page -->
                    <tr ng-repeat="item in contextItem.childItems">
                      <td nowrap=nowrap>
                        <h3>
                          <i class="{{i18n.translate(iconFromItem(item)).fetch()}} muted"></i>
                          <a href="{{hrefFromItem(item)}}" class="btn btn-link">
                            <span>{{item.name}}</span>
                          </a>
                        </h3>
                      </td>
                      <td nowrap=nowrap>
                        <!-- Make use of the HATEOAS links -->
                        <a ng-href="{{item.html_url}}" target="_blank" class="btn btn-secondary">
                          <i class="icon-github"></i>
                          <span>GitHub</span>
                        </a>
                        <button ng-click="deleteItem($index)" class="btn btn-tertiary">
                          <i class="icon-minus-sign-alt"></i>
                          <span>Delete</span>
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="tab-pane" id="commits">
              <p>Under Construction: Commits</p>
            </div>
            <div class="tab-pane" id="branches">
              <p>Under Construction: Branches</p>
            </div>
          </div>
          <script>
            $(function () {
              $('#myTab a[data-target="#items"]').tab('show');
            })
          </script>
          <script>
            $('#myTab a[data-target="#items"]').click(function(e) {
              e.preventDefault();
              $(this).tab('show');
            });
          </script>
          <script>
            $('#myTab a[data-target="#commits"]').click(function(e) {
              e.preventDefault();
              $(this).tab('show');
            });
          </script>
          <script>
            $('#myTab a[data-target="#branches"]').click(function(e) {
              e.preventDefault();
              $(this).tab('show');
            });
          </script>
        </div> <!-- div.widget-content -->
      </div> <!-- div.widget -->
    </div> <!-- div.row-fluid -->
  </div> <!-- div.container-fluid -->
  <div id="new-file-dialog" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="new-file-dialog-label" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h3 id="new-file-dialog-label"><i class="icon-plus-sign-alt muted"></i> <i class="icon-file-alt muted"></i> Create a New File</h3>
    </div>
    <form ng-controller="NewFileCtrl">
      <fieldset>
        <div class="modal-body">
          <label>File name</label>
          <input type="text" name="name" ng-model="file.name"></input>
          <label>Commit message:</label>
          <input type="text" name="message" ng-model="file.message" placeholder="Create new file"></input>
        </div>
        <div class="modal-footer">
          <button id="btnCancel" class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
          <button type="submit" ng-click="createFile()" id="btnOK" class="btn btn-primary">Create file</button>
        </div>
      </fieldset>
    </form>
  </div>
</div>
