<div id="user-view">
  <div class="subnavbar">
    <div class="subnavbar-inner">
      <div class="container">
        <a class="btn-subnavbar collapsed" data-toggle="collapse" data-target=".subnav-collapse">
          <i class="icon-reorder"></i>
        </a>
        <div class="subnav-collapse collapse">
          <ul class="mainnav">
            <li class="{{userBreadcrumbClass()}}">
              <a ng-href="/users/{{user.login}}">
                <i class="icon-user"></i>
                <span>{{i18n.translate("My Space").fetch()}}</span>
              </a>
            </li>
            <li>
              <a ng-href="/workbench" href="#">
                <i class="icon-edit"></i>
                <span>Workbench</span>
              </a>
            </li>
          </ul>
        </div> <!-- /.subnav-collapse -->
      </div> <!-- /container -->
    </div> <!-- /subnavbar-inner -->
  </div> <!-- /subnavbar -->

  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span4">
        <div class="widget">
          <div class="widget-header">
              <i class="icon-user"></i>
              <h3>Profile</h3>
          </div>
          <div class="widget-content">
            <h3>
              <span>{{user.name}}</span>
            </h3>
            <h4>
              <span>{{user.login}}</span>
            </h4>
            <!-- HATEOAS GitHub link? -->
            <!--
            <a href="https://github.com/{{user.login}}?tab=repositories" target="_blank" class="btn btn-secondary">
              <i class="icon-github"></i>
              <span>GitHub</span>
            </a>
            -->
          </div>
        </div>
      </div>
      <div class="span8">
        <div class="widget stacked">
          <div class="widget-content">
            <ul class="nav nav-tabs" id="myTab">
              <li>
                <a data-target="#repos" data-toggle="tab">{{i18n.translate("Repo").ifPlural(2, "Repos").fetch()}}</a>
              </li>
              <li>
                <a data-target="#gists" data-toggle="tab">{{i18n.translate("Gist").ifPlural(2, "Gists").fetch()}}</a>
              </li>
            </ul>
            <div class="tab-content">
              <div class="tab-pane" id="repos">
                <div class ="row-fluid">
                  <table class="table table-condensed">
                    <tbody>
                      <tr>
                        <td nowrap=nowrap>
                          <!--input type="text" placeHolder="Filter..."></input-->
                        </td>
                        <td nowrap=nowrap>
                          <button ng-click="newRepo(user.login)" class="btn btn-primary">
                            <i class="icon-plus-sign-alt"></i> <i class="{{i18n.translate('icon-repo').fetch()}}"></i>
                            <span>{{i18n.translate("Create a New Repo").fetch()}}</span>
                          </button>
                        </td>
                      </tr>
                      <tr ng-repeat="repo in repos">
                        <td nowrap=nowrap>
                          <h3>
                            <i class="{{i18n.translate('icon-repo').fetch()}} muted"></i>
                            <a href="/users/{{user.login}}/repos/{{repo.name}}/tree/master" class="btn btn-link">
                              <span>{{repo.name}}</span>
                            </a>
                          </h3>
                          <p>{{repo.description}}</p>
                        </td>
                        <td nowrap=nowrap>
                          <a href="{{repo.html_url}}" target="_blank" class="btn btn-secondary">
                            <i class="icon-github"></i>
                            <span>GitHub</span>
                          </a>
                          <!--
                          <button ng-click="deleteRepo(user.login, repo.name)" class="btn btn-tertiary">
                            <i class="icon-minus-sign-alt"></i>
                            <span>Delete</span>
                          </button>
                          -->
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="tab-pane" id="gists">
                <div class ="row-fluid">
                  <table class="table table-condensed">
                    <tbody>
                      <tr>
                        <td nowrap=nowrap>
                          <!--input type="text" placeHolder="Filter..."></input-->
                        </td>
                        <td nowrap=nowrap>
                          <button ng-click="newGist()" class="btn btn-primary">
                            <i class="icon-plus-sign-alt"></i> <i class="{{i18n.translate('icon-gist').fetch()}}"></i>
                            <span>{{i18n.translate("Create a New Gist").fetch()}}</span>
                          </button>
                        </td>
                      </tr>
                      <tr ng-repeat="gist in gists">
                        <td nowrap=nowrap>
                          <h3>
                            <i class="{{i18n.translate('icon-gist').fetch()}} muted"></i>
                            <a href="/gists/{{gist.id}}" class="btn btn-link">
                              <span>{{gist.id}}</span>
                            </a>
                          </h3>
                          <p>{{gist.description}}</p>
                        </td>
                        <td nowrap=nowrap>
                          <a href="{{gist.html_url}}" target="_blank" class="btn btn-secondary">
                            <i class="icon-github"></i>
                            <span>GitHub</span>
                          </a>
                          <!--
                          <button ng-click="deleteGist(user.login, gist.id)" class="btn btn-tertiary">
                            <i class="icon-minus-sign-alt"></i>
                            <span>Delete</span>
                          </button>
                          -->
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <script>
              $(function () {
                $('#myTab a[data-target="#repos"]').tab('show');
              })
            </script>
            <script>
              $('#myTab a[data-target="#gists"]').click(function(e) {
                e.preventDefault();
                $(this).tab('show');
              });
            </script>
            <script>
              $('#myTab a[data-target="#repos"]').click(function(e) {
                e.preventDefault();
                $(this).tab('show');
              });
            </script>
          </div>
        </div>

        <div id="new-gist-dialog" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="new-gist-dialog-label" aria-hidden="true">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3 id="new-gist-dialog-label"><i class="icon-plus-sign-alt muted"></i> <i class="{{i18n.translate('icon-gist').fetch()}} muted"></i> {{i18n.translate("Create a New Gist").fetch()}}</h3>
          </div>
          <form ng-controller="NewGistCtrl">
            <fieldset>
              <div class="modal-body">
                <label>Description<span class="muted"> (optional)</span></label>
                <input type="text" name="description" ng-model="gist.description"></input>
              </div>
              <div class="modal-footer">
                <button id="btnCancel" class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                <button type="submit" ng-click="createGist()" id="btnOK" class="btn btn-primary">{{i18n.translate("Create gist").fetch()}}</button>
              </div>
            </fieldset>
          </form>
        </div>

        <div id="new-repo-dialog" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="new-repo-dialog-label" aria-hidden="true">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3 id="new-repo-dialog-label"><i class="icon-plus-sign-alt muted"></i> <i class="{{i18n.translate('icon-repo').fetch()}} muted"></i> {{i18n.translate("Create a New Repo").fetch()}}</h3>
          </div>
          <form ng-controller="NewRepoCtrl">
            <fieldset>
              <div class="modal-body">
                <label>{{i18n.translate("Repo name").fetch()}}</label>
                <input type="text" name="repo" ng-model="repo.name"></input>
                <span class="help-block">{{i18n.translate("Great repo names are short and memorable.").fetch()}}</span>
                <label>Description<span class="muted"> (optional)</span></label>
                <input type="text" name="description" ng-model="repo.description"></input>
                <!--
                <hr/>
                <input type="radio" ng-model="repo.private" value="false"> <i class="{{i18n.translate('icon-repo').fetch()}} muted"></i> Public<br/>
                <span class="help-block">Anyone can see this repository. You choose who can commit.</span>
                <input type="radio" ng-model="repo.private" value="true"> Private <br/>
                <span class="help-block">You choose who can see and commit to this repository.</span>
                -->
                <hr/>
                <label class="checkbox">
                  <input type="checkbox" name="markdown-readme" ng-model="repo.markdownReadme"> {{i18n.translate("Initialize this repo with a README.md").fetch()}}</input>
                </label>
                <span class="help-block">{{i18n.translate("This will allow you to clone the repo immediately in GitHub.").fetch()}}</span>
                <!--
                <label class="checkbox">
                  <input type="checkbox" name="python-readme" ng-model="repo.pythonReadme"> Initialize this book with a README.py</input>
                </label>
                <span class="help-block">Having at least one Python file will ensure that the GitHub repository is visible to Geometric Physics.</span>
                -->
              </div>
              <div class="modal-footer">
                <button id="btnCancel" class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                <button type="submit" ng-click="createRepo()" id="btnOK" class="btn btn-primary">{{i18n.translate("Create repo").fetch()}}</button>
              </div>
            </fieldset>
          </form>
        </div>

      </div>
    </div>
  </div>
</div>