<div id="user-view">
  <div class="subnavbar">
    <div class="subnavbar-inner">
      <div class="container">
        <a class="btn-subnavbar collapsed" data-toggle="collapse" data-target=".subnav-collapse">
          <i class="icon-reorder"></i>
        </a>
        <div class="subnav-collapse collapse">
          <ul class="mainnav">
            <li>
              <a-home></a-home>
            </li>
            <li class="active">
              <a ng-href="/users/{{user.login}}">
                <i class="icon-user"></i>
                <span>Me</span>
              </a>
            </li>
          </ul>
        </div> <!-- /.subnav-collapse -->
      </div> <!-- /container -->
    </div> <!-- /subnavbar-inner -->
  </div> <!-- /subnavbar -->

  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span4">
        <div class="widget">
          <div class="widget-header">
          </div>
          <div class="widget-content">
            <h3>
              <span>{{user.name}}</span>
            </h3>
            <h4>
              <i class="icon-user muted"></i>
              <span>{{user.login}}</span>
            </h4>
            <a href="https://github.com/{{user.login}}?tab=repositories" target="_blank" class="btn btn-secondary">
              <i class="icon-external-link"></i>
              <span>GitHub</span>
            </a>
          </div>
        </div>
      </div>
      <div class="span8">
        <div class="widget stacked">
          <div class="widget-header">
          </div>
          <div class="widget-content">
            <ul class="nav nav-tabs" id="myTab">
              <!--li><a data-target="#contributions" data-toggle="tab">Contributions</a></li-->
              <li><a data-target="#repositories" data-toggle="tab">Books</a></li>
              <!--li><a data-target="#activity" data-toggle="tab">Public Activity</a></li-->
            </ul>
            <div class="tab-content">
              <div class="tab-pane" id="contributions">
                <p>Under Construction: Contributions</p>
              </div>
              <div class="tab-pane" id="repositories">
                <div class ="row-fluid">
                  <table class="table table-condensed">
                    <tbody>
                      <tr>
                        <td nowrap=nowrap>
                          <!--input type="text" placeHolder="Filter..."></input-->
                        </td>
                        <td nowrap=nowrap>
                          <button ng-click="newRepo()" class="btn btn-primary">
                            <i class="icon-plus-sign-alt"></i> <i class="icon-book"></i>
                            <span>Create a New Book</span>
                          </button>
                        </td>
                      </tr>
                      <tr ng-repeat="repo in repos">
                        <td nowrap=nowrap>
                          <h3>
                            <i class="icon-book muted"></i>
                            <a href="/users/{{user.login}}/repos/{{repo.name}}" class="btn btn-link">
                              <span>{{repo.name}}</span>
                            </a>
                          </h3>
                          <p>{{repo.description}}</p>
                        </td>
                        <td nowrap=nowrap>
                          <a href="/users/{{user.login}}/repos/{{repo.name}}" class="btn btn-primary">
                            <i class="icon-edit"></i>
                            <span>Edit</span>
                          </a>
                          <a href="https://github.com/{{user.login}}/{{repo.name}}" target="_blank" class="btn btn-secondary">
                            <i class="icon-external-link"></i>
                            <span>GitHub</span>
                          </a>
                          <button ng-click="deleteRepo($index)" class="btn btn-tertiary">
                            <i class="icon-minus-sign-alt"></i>
                            <span>Delete</span>
                          </button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="tab-pane" id="activity">
                <p>Under Construction: Public Activity</p>
              </div>
            </div>
            <script>
              $(function () {
                $('#myTab a[data-target="#repositories"]').tab('show');
              })
            </script>
            <script>
              $('#myTab a[data-target="#contributions"]').click(function(e) {
                e.preventDefault();
                $(this).tab('show');
              });
            </script>
            <script>
              $('#myTab a[data-target="#repositories"]').click(function(e) {
                e.preventDefault();
                $(this).tab('show');
              });
            </script>
            <script>
              $('#myTab a[data-target="#activity"]').click(function(e) {
                e.preventDefault();
                $(this).tab('show');
              });
            </script>
          </div>
        </div>

        <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3 id="myModalLabel"><i class="icon-plus-sign-alt muted"></i> <i class="icon-book muted"></i> Create a New Book</h3>
          </div>
          <form ng-controller="NewRepoCtrl">
            <fieldset>
              <div class="modal-body">
                <label>Book name</label>
                <input type="text" name="repo" ng-model="repo.name"></input>
                <span class="help-block">Great book names are short and memorable.</span>
                <label>Description<span class="muted"> (optional)</span></label>
                <input type="text" name="description" ng-model="repo.description"></input>
                <!--
                <hr/>
                <input type="radio" ng-model="repo.private" value="false"> <i class="icon-book muted"></i> Public<br/>
                <span class="help-block">Anyone can see this repository. You choose who can commit.</span>
                <input type="radio" ng-model="repo.private" value="true"> Private <br/>
                <span class="help-block">You choose who can see and commit to this repository.</span>
                -->
                <hr/>
                <label class="checkbox">
                  <input type="checkbox" name="readme" ng-model="repo.auto_init"> Initialize this book with a README</input>
                </label>
                <span class="help-block">This will allow you to clone the book immediately in GitHub.</span>
              </div>
              <div class="modal-footer">
                <button id="btnCancel" class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                <button type="submit" ng-click="onOK()" id="btnOK" class="btn btn-primary">Create book</button>
              </div>
            </fieldset>
          </form>
        </div>
        <script>
          $(function() {
//            var domModal = $("#myModal");
//            $('#btnOK').on('click', function() {
//              alert("OK clicked");
//              domModal.modal('hide');
//            });
          });
        </script>
      </div>
    </div>
  </div>
</div>