<div id="editor">
    <div class="navbar navbar-inverse">
      <div class="navbar-inner">
        <div class="container">
          <a-brand></a-brand>
          <ul class="nav pull-left">
            <li ng-show="hasFeature('gz:feature:github')" class="divider-vertical"></li>
            <li ng-show="hasFeature('gz:feature:github')">
              <button ng-click="save()" class="btn btn-inverse">
                <!-- TODO: Conditionnaly mute according to dirty state -->
                <span class="muted"><i class="icon-save icon-white"></i> Save</span>
              </button>
            </li>
            <li class="divider-vertical"></li>
            <li>
              <button ng-click="run()" class="btn btn-inverse">
                <!-- TODO: Conditionnaly mute according to playable state -->
                <span class="muted"><i class="icon-play icon-white"></i> Run</span>
              </button>
            </li>
          </ul>
          <ul class="nav pull-right">
            <li ng-show="hasFeature('gz:feature:search')" class="divider-vertical"></li>
            <li>
              <form-search></form-search>
            </li>
            <li ng-show="hasFeature('gz:feature:github')" class="divider-vertical"></li>
            <li>
              <github-authorize></github-authorize>
            </li>
          </ul>
        </div>
      </div>
    </div>
  <div id="my-stuff" layout style="height: 800px">
    <div id="repository" class="ui-layout-west">
      <div>
        <h3>
          <i class="icon-book muted"></i>
          <span>{{repo.name}}</span>
          <a href="https://github.com/{{owner.name}}/{{repo.name}}" target="_blank" class="muted">
            <i class="icon-external-link"></i>
          </a>
        </h3>
        <span>{{repo.description}}</span>
      </div>
      <ul class="nav nav-tabs" id="myTab">
        <li><a data-target="#files" data-toggle="tab">Files</a></li>
        <!--li><a data-target="#commits" data-toggle="tab">Commits</a></li-->
        <!--li><a data-target="#branches" data-toggle="tab">Branches</a></li-->
      </ul>
      <div class="tab-content">
        <div class="tab-pane" id="files">
          <div class ="row-fluid">
            <table class="table table-condensed">
              <tbody>
                <tr>
                  <td nowrap=nowrap>
                    <i class="icon-book muted"></i>
                    <button ng-click="refresh()" class="btn btn-link">
                      <span>.</span>
                    </button>
                  </td>
                  <td>
                    <button ng-click="newFile()" class="btn btn-link">
                      <i class="icon-plus-sign-alt muted"></i> <i class="icon-file-alt muted"></i>
                    </button>
                  </td>
                </tr>
                <tr ng-repeat="file in repo.files">
                  <td nowrap=nowrap>
                    <i class="icon-file-alt muted"></i>
                    <button ng-click="editFile(file.path)" class="btn btn-link">
                      <span>{{file.name}}</span>
                    </button>
                  </td>
                  <td nowrap=nowrap>
                    <button ng-click="editFile(file.path)" class="btn btn-link">
                      <i class="icon-edit muted"></i>
                    </button>
                    <a href="https://github.com/{{owner.name}}/{{repo.name}}/blob/master/{{file.path}}" target="_blank" class="muted">
                      <i class="icon-external-link"></i>
                    </a>
                    <button ng-click="deleteFile($index)" class="btn btn-link">
                      <i class="icon-minus-sign-alt muted"></i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="tab-pane" id="commits">
          <p>Under Construction: Commits</p>
        </div>
        <div class="tab-pane" id="branches">
          <p>Under Construction: Branches</p>
        </div>
      </div>
      <script>
        $(function () {
          $('#myTab a[data-target="#files"]').tab('show');
        })
      </script>
      <script>
        $('#myTab a[data-target="#files"]').click(function(e) {
          e.preventDefault();
          $(this).tab('show');
        });
      </script>
      <script>
        $('#myTab a[data-target="#commits"]').click(function(e) {
          e.preventDefault();
          $(this).tab('show');
        });
      </script>
      <script>
        $('#myTab a[data-target="#branches"]').click(function(e) {
          e.preventDefault();
          $(this).tab('show');
        });
      </script>
    </div>
    <div id="algebra" class="ui-layout-center">
      <textarea id="code"></textarea>
    </div>
    <div id="geometry" class="ui-layout-east">
      <canvas id="my-canvas" width="1280" height="800"></canvas>
    </div>
    <div id="console" class="ui-layout-south">
      <pre id="my-output"></pre>
    </div>
  </div>
  <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h3 id="myModalLabel"><i class="icon-plus-sign-alt muted"></i> <i class="icon-file-alt muted"></i> Create a New File</h3>
    </div>
    <form ng-controller="NewFileCtrl">
      <fieldset>
        <div class="modal-body">
          <label>File name</label>
          <input type="text" name="name" ng-model="file.name"></input>
          <label>Commit message:</label>
          <input type="text" name="message" ng-model="file.message" placeholder="Create new file"></input>
        </div>
        <div class="modal-footer">
          <button id="btnCancel" class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
          <button type="submit" ng-click="onOK()" id="btnOK" class="btn btn-primary">Create file</button>
        </div>
      </fieldset>
    </form>
  </div>

</div>
