<div id="editor">
    <div class="navbar navbar-inverse">
      <div class="navbar-inner">
        <div class="container">
          <a-brand></a-brand>
          <ul class="nav pull-left">
            <li ng-show="hasFeature('gz:feature:github')" class="divider-vertical"></li>
            <li ng-show="hasFeature('gz:feature:github')">
              <button ng-click="save()" class="btn btn-primary">
                Save
              </button>
            </li>
            <li class="divider-vertical"></li>
            <li>
              <button ng-click="new()" class="btn btn-success">
                <i class="icon-file icon-white"></i>&nbsp;New
              </button>
            </li>
            <li class="divider-vertical"></li>
            <li>
              <button ng-click="run()" class="btn btn-inverse">
                <i class="icon-play icon-white"></i>&nbsp;Run
              </button>
            </li>
          </ul>
          <ul class="nav pull-right">
            <li ng-show="hasFeature('gz:feature:search')" class="divider-vertical"></li>
            <li>
              <form-search></form-search>
            </li>
            <li ng-show="hasFeature('gz:feature:github')" class="divider-vertical"></li>
            <li>
              <github-authorize></github-authorize>
            </li>
          </ul>
        </div>
      </div>
    </div>
  <div id="my-stuff" layout style="height: 800px">
    <div id="repository" class="ui-layout-west">
      <div>
        <span>geo-zen-examples</span>
        <!--
        <span> / </span>
        <button class="btn btn-success"><i class="icon-file icon-white"></i>New</button>
      -->
      </div>
      <table class="table table-bordered table-condensed">
        <tbody>
          <tr>
            <td>README.md</td>
          </tr>
          <tr>
            <td>bouncing-ball.py</td>
          </tr>
          <tr>
            <td>charged-particle.py</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div id="algebra" class="ui-layout-center">
      <textarea id="code"></textarea>
    </div>
    <div id="geometry" class="ui-layout-east">
      <canvas id="my-canvas" width="1280" height="800"></canvas>
    </div>
    <div id="console" class="ui-layout-south">
      <pre id="my-output"></pre>
    </div>
  </div>
</div>
