<div id="work-view">
  <div class="subnavbar">
    <div class="subnavbar-inner">
      <div class="container">
        <a class="btn-subnavbar collapsed" data-toggle="collapse" data-target=".subnav-collapse">
          <i class="icon-reorder"></i>
        </a>
        <div class="subnav-collapse collapse">
          <ul class="mainnav">
            <li class="{{homeBreadcrumbClass()}}">
              <a-home></a-home>
            </li>
            <li ng-show="isLoggedIn()" class="{{userBreadcrumbClass()}}">
              <a ng-href="/users/{{user.name}}">
                <i class="icon-user"></i>
                <span>{{i18n.translate("My Space").fetch()}}</span>
              </a>
            </li>
            <li class="active">
              <a ng-click="reload()" href="#">
                <i class="icon-edit"></i>
                <span>Workbench</span>
              </a>
            </li>
            <li ng-show="saveEnabled()">
              <a ng-click="saveFile()" href="#">
                <i class="icon-save"></i>
                <span>Save</span>
              </a>
            </li>
            <li ng-show="runEnabled()">
              <a ng-click="run()" href="#">
                <i class="icon-cogs"></i>
                <span>Run</span>
              </a>
            </li>
          </ul>
        </div> <!-- /.subnav-collapse -->
      </div> <!-- /container -->
    </div> <!-- /subnavbar-inner -->
  </div> <!-- /subnavbar -->
  
  <div id="work-layout" class="container-fluid">
    <!-- Messages -->
    <!-- We only show the Message widget if there are messages to be shown -->
    <div class="row-fluid" ng-show="messages.length &gt; 0">
      <div class="span12">
        <div class="widget stacked">
          <div class="widget-header">
            <i class="icon-inbox"></i>
            <h3>Message</h3>
          </div>
          <div class="widget-content">
            <div class="alert alert-block alert-{{message.severity}}" ng-repeat="message in messages">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
              <h4>{{message.name}}</h4>
              {{message.text}}
            </div>
          </div> <!-- div.widget-content -->
        </div> <!-- div.widget -->
      </div> <!-- div.span12 -->
    </div> <!-- row-fluid -->

    <div class="row-fluid">
      <div class="span6">
        <div class="widget">
          <div class="widget-header">
            <i class="{{i18n.translate('icon-file').fetch()}} muted"></i>
            <h3>{{contextItem.name}}</h3>
          </div>
          <div id="textarea-container" class="widget-content">
            <textarea id="code"></textarea>
          </div> <!-- div.widget-content -->
        </div> <!-- div.widget -->
      </div> <!-- div.span -->
      <div class="span6">
        <div class="row-fluid">
          <!-- Canvas -->
          <div class="span12">
            <div class="widget">
              <div class="widget-header">
                <i class="icon-film"></i>
                <h3>Canvas</h3>
              </div> <!-- div.widget-header -->
              <div id="canvas-container" class="widget-content">
                <!-- This is a placeholder for visual simulations -->
              </div> <!-- div.widget-content -->
            </div> <!-- div.widget -->
          </div>
        </div> <!-- row-fluid -->
        <div class="row-fluid">
          <!-- Printer -->
          <div class="span12">
            <div class="widget">
              <div class="widget-header">
                <i class="icon-print"></i>
                <h3>Printer</h3>
              </div>
              <div id="printer-container" class="widget-content">
                <printer></printer>
              </div> <!-- div.widget-content -->
            </div> <!-- div.widget -->
          </div> <!-- div.span12 -->
        </div> <!-- row-fluid -->

      </div> <!-- div.span -->
    </div> <!-- row-fluid -->

  </div> <!-- div.container-fluid -->
</div>