.btn {
  outline: none !important;
}

.center {
  text-align: center;
}

.my-canvas {
  display: block;
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  z-index: 9999;
}

.CodeMirror-fullscreen {
  display: block;
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  z-index: 9999;
}

.ui-layout-west {
  background: #FF0000;
}

.ui-layout-center {
  background: #00FF00;
}
.ui-layout-east {
  background: #0000FF;
}
