!!! 5
html(lang="en", data-ng-app="app")
  head(profile="http://www.w3.org/2005/10/profile")
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title #{marketing.name} - #{marketing.tagLine}
    script(type="text/x-mathjax-config")
      | MathJax.Hub.Config({extensions: ["tex2jax.js"], jax: ["input/TeX","output/HTML-CSS"], tex2jax: {inlineMath: [["$","$"],["\\(","\\)"]]}});
    script(type="text/javascript", src="http://cdn.mathjax.org/mathjax/latest/MathJax.js")
    meta(name="author", edit="David Holmes")
    meta(name="copyright", content="")
    meta(name="description", content="")
    link(rel="stylesheet", href=css, media="all")
    link(rel="icon", type="image/png", href="img/favicon-48x48.png")
  body
    script(src=js)
    div.navbar.navbar-inverse.navbar-fixed-top
      div.navbar-inner
        div.container
          a.btn.btn-navbar(data-toggle="collapse", data-target=".nav-collapse")
            i.icon-cog
          a-brand
          div.nav-collapse.collapse
            ul.nav.pull-right
              li.dropdown
                a.dropdown-toggle(href="#", data-toggle="dropdown")
                  i.icon-cog
                  span Settings
                  b.caret
                ul.dropdown-menu
                  li
                    a(href="javascript:;")
                    | Account Settings
                  li
                    a(href="javascript:;")
                    | Privacy Settings
                  li.divider
                  li
                    a(href="javascript:;")
                    | Help

              li
                github-authorize
            form-search
    div#view(ng-view)
    footer
