!!! 5
html(lang="en", data-ng-app="app")
  head(profile="http://www.w3.org/2005/10/profile")
    meta(charset="utf-8")
    title #{marketing.name} - #{marketing.tagLine}
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="apple-mobile-web-app-capable", content="yes")
    meta(name="author", edit="David Holmes")
    meta(name="copyright", content="")
    meta(name="description", content="")
    link-open-sans
    link(rel="stylesheet", href=css, media="all")
    link(rel="icon", type="image/png", href="img/favicon-48x48.png")
  body
    div.navbar.navbar-inverse.navbar-fixed-top
      div.navbar-inner
        div.container
          a.btn.btn-navbar(data-toggle="collapse", data-target=".nav-collapse")
            i.icon-cog
          a-brand
          div.nav-collapse.collapse
            ul.nav.pull-right
    div#view(ng-view)
    footer
      div.container-fluid
        div.row-fluid
          div#footer-copyright.span6
            | &copy; 2013 David Holmes
          div#footer-terms.span6
            | Dedicated to Geo
    script(src=js)
