!!! 5
html(lang="en", data-ng-app="app")
  head(profile="http://www.w3.org/2005/10/profile")
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    title #{marketing.name} - #{marketing.tagLine}
    meta(name="author", edit="David Holmes")
    meta(name="copyright", content="")
    meta(name="description", content="")
    link(rel="stylesheet", type="text/css", href=css, media="all")
    link(rel="icon", type="image/png", href="img/favicon-48x48.png")
  body
    script(type="text/javascript", src=js)
    div#holder
      div#view(ng-view)
      footer
